@import "./reset.css";

@font-face {
  font-family: "calorie";
  src: url("../fonts/CalorieRegular.ttf") format("truetype");
  /* src: url("webfont.eot");  IE9 Compat Modes 
  src: url("webfont.eot?#iefix") format("embedded-opentype"),
     IE6-IE8  url("webfont.woff2") format("woff2"),
    Super Modern Browsers url("webfont.woff") format("woff"),
     Pretty Modern Browsers  url("webfont.ttf") format("truetype"),
     Safari, Android, iOS  url("webfont.svg#svgFontName") format("svg");  Legacy iOS  */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.fresnel-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
